@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background-color: beige;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

header {
    padding: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;

}

footer {
    background-color: burlywood;
    margin-top: 24px;
    width: auto;
    height: 10vh;
    padding: 24px;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;

}

main {
    max-width: 800px;
    margin: auto;
    margin-bottom: 20vh;
}

input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
}

textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

button {
    padding: 12px;
    font-size: 110%;
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}

.main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto auto;
    column-gap: 24px;

}

.book-cover {
    width: 200px;
    height: auto;
    grid-row-start: 1;
    grid-row-end: -1;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}

.detail-page-book-review {
    background-color: white;
    padding: 24px;
}

.book-review-form {
    background-color: white;
    padding: 24px;
}
